.category_heading {
  width: 100vw;
  height: 40vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 16px;
  background: linear-gradient(180deg, #544541 0%, rgba(196, 160, 146, 0) 100%);
}

.category_item {
  display: flex;
}

.category_item img {
  width: 50%;
  height: 250px;
  object-fit: cover;
}

.product_info {
  background: #f6f3ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.category_item button {
  height: 44px;
  width: 200px;
  left: 0px;
  top: 0px;
  border-radius: 44px;
  background: #c4a092;
  border-radius: 44px;

  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #f6f3ee;
}

.category_item .price {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #544541;
}
.category_item p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
